<a href="https://colab.research.google.com/github/lizethcifuentes/caso_n-1/blob/main/ejercicio_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#instrucion repetitiva for

In [1]:
#ejercicio1:mostrar los numeros del 1 al 10,sin usar instrucciones repetitivas
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

1
2
3
4
5
6
7
8
9
10

In [2]:
# ejercicio2:mostrar los nuimerosdel 1 al 10, usando la instruccion repetitiva while
contador = 1
print(contador)
while contador <10:
  #contador = contador + 1
  contador += 1
  print(contador)

1
2
3
4
5
6
7
8
9
10

In [3]:
#ejercicio3:mostrar los numerosdel 1 al 10,usando la instruccion  for y una lista como iterable
for i in [1,2,3,4,5,6,7,8,9,10]:
   print(i)

1
2
3
4
5
6
7
8
9
10

In [6]:
#ejercicio4:mostrar los numeros del 1 al 10 usando la instruccion for y la funcion range
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [9]:
#ejercicio5:mostrar 1 frase 10 veces usando la instruccion for y la lista
lista = [1,2,3,4,5,6,7,8,9,10]
for i in lista:
  print(f"{i} sistemas, la mejor!!*")

1 sistemas, la mejor!!*
2 sistemas, la mejor!!*
3 sistemas, la mejor!!*
4 sistemas, la mejor!!*
5 sistemas, la mejor!!*
6 sistemas, la mejor!!*
7 sistemas, la mejor!!*
8 sistemas, la mejor!!*
9 sistemas, la mejor!!*
10 sistemas, la mejor!!*

In [10]:
#ejercicio6:mostrar la silaba inicial de los dias de la semana, usando for y una lista con la silaba inicial de los dias de la semana ]
dias_semana = ["lu" , "ma" , "mi" , "ju" , "vi" , "sa" , "do"]
for in dias_semana:
  print(i)

SyntaxError: ignored

In [11]:
#ejercicio8: ingresar su nombre mostrarlo letra a letra,usando for
nombre = input("digite su nombre: ")
for letra in nombre:
  print(letra)

digite su nombre: lizeth
l
i
z
e
t
h

In [15]:
#ejercicio7: mostrar una lista de distintos tipos de datos,usando for
lista = [1,3,4,9,True, "lizeth" ,8, "guanenta"]
for i in lista:
  print(i)

1
3
4
9
True
andres
8
guanenta

In [16]:
#ejercicio9: ingresar su nombre y mostrarlo letra a letra,usando for,cambiando por asterisco * a la vocal e
nombre = input("digite su nombre: ")
for letra in nombre:
  if letra == 'e':
    print("*")
  else:
     print(letra)

digite su nombre: lizeth
l
i
z
*
t
h

In [19]:
#ejercicio10:ingresar su nombre y nostrarlo letra a letra en mayuscula usando for
nombre = input("digite su nombre: ")
for letra in nombre:
  print(letra.upper())

digite su nombre: lizeth
L
I
Z
E
T
H

In [ ]:
#ejercicio11:
print("numeros del 0 al 9")
for i in range(10):
  print(i)

  print("numeros del 1 aL 10")
  for i in range(1,11):
    print(i)

print("10 veces la frase")
for i in range(10):
  print("sistemas el mejor")

print("10 veces la frase i = ")
for i in range(10):
  print("i = " + str(i))

  print("10 veces la frase i = ")
  for i in range(10):
    print(f" i = {i}")   

print("rango del 7 al 18,incrementando en 4 en 4")
for i in range(7,19,4):
  print(i)

print("convierte en rango en lista  a, y la muestra")
a = list(range(1000))
print(a)